
// custom variables
$primary: #A7C714; 
$secondary: #91ad10;

// DARK SKIN
$my-theme-primary: #d012f1;
$my-theme-secondary: #b23cfd;
$my-dark-theme: mdb-dark-theme($my-theme-primary, $my-theme-secondary);

//Import libraries
@import "../node_modules/mdb-ui-kit/src/scss/mdb.free.scss";
@import "../node_modules/bootstrap/scss/bootstrap";


//custom theme colors

$custom-theme-colors: (
  "teamviewer": #0c81e0,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

//apply dark theme
.dark {
  @include mdb-theme($my-dark-theme);
}




