body {
    margin: 0;
    padding:0;
  }



.streep {
background-color: #A4CC00;
position:absolute;
padding-bottom: 5em;
width: 100%;
margin-top:-2em;
z-index: -1;
}

/* .mijnNav {
  margin: 1em, 
} */

.ulFlex {
display:flex;
justify-content:space-around;
background-color: white;
border-radius:50px;
z-index: 1;
margin: 2em 5em 6em 5em;
padding: 1em 3em 1em 3em;

}

.ulFlex li {
  list-style-type: none;
}

.navLink {
text-decoration: none;
list-style-type: none; 
color: black;
z-index: 1;
margin-bottom:1em !important;
}


.custom-navbar {
  border-radius: 80px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* padding-left: 4em; */
}

@media (max-width: 460px) {
  .custom-body p.lead {
    font-size: 14px !important; 
}
  .navbar.mx-5 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .navbar-brand img{
    width: 7em;
  }
}


.center-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3em;
}

.vink {
width: 3em; 
}

.teamviewerimg {
margin-top: 4px !important;
}

/* .custom-container {
} */

.display-4{
margin-top: 2em;
font-family: 'truculenta', 'Arial Narrow', Arial, sans-serif;
}



/* carousel index.html */
.container-carousel {
  overflow: hidden;
  .slider {
    animation: slidein 30s linear infinite;
    white-space: nowrap;
    .logos {
      width: 100%;
      display: inline-block;
      margin: 0px 0;
      .fab {
        width: calc(100% / 5);
        animation: fade-in 0.5s 
          cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
      }
    }
  }
}

@keyframes slidein {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

