body {
    margin: 0;
    padding:0;
  }

  /* Nav */
.streep {
background-color: #A4CC00;
position:absolute;
padding-bottom: 5em;
width: 100%;
margin-top:-2em;
z-index: -1;
}


.navLink {
text-decoration: none;
list-style-type: none; 
color: black;
z-index: 1;
margin-bottom:1em !important;
}

.teamviewerimg {
margin-top: 4px !important;
}

.custom-navbar {
  border-radius: 80px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* padding-left: 4em; */
}

/* home */
.plant {
  max-width: 380px;
}

.ulFlex {
display:flex;
justify-content:space-around;
background-color: white;
border-radius:50px;
z-index: 1;
margin: 2em 5em 6em 5em;
padding: 1em 3em 1em 3em;
}

.ulFlex li {
  list-style-type: none;
}

.center-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3em;
}

.producten {
  max-width: 600px
}

.vink {
width: 3em; 
margin-right: 3em;
}

.vink-vacature {
  width: 20px;
  height: auto; 
}



.quote{
margin-top: 2em;
font-family: 'truculenta', 'Arial Narrow', Arial, sans-serif;
}



/* carousel index.html */
.logos-slide {
  display: flex;
  animation: slide 20s infinite linear;
}

.logos-slide img {
  flex-shrink: 0;
  height: 40px;
  margin: 0 50px;
}

.logos-slide:hover {
  animation-play-state: paused;
}


/* Media en Keyframes */



@media (max-width: 460px) {
  .custom-body p.lead {
    font-size: 14px !important; 
}
  .navbar.mx-5 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .navbar-brand img{
    width: 7em;
  }
}

@media (max-width: 768px) {
  .logos-slide img {
    height: 30px; 
    margin: 0 10px;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.custom-quote-container{
  margin-bottom: 6em;
}




.carousel-inner {
  padding: 1em;
}
.card {
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.collegacard {
  margin: 0 0.5em;;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.card .img-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2em 0 2em;
}


/* Footer */
.custom-footer{
  margin: 0;
  width: 100%;
}

footer {
  margin-top: 3em;
}


/* @media */

@media (min-width: 900px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 25%;    
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}

@media (max-width: 899px) {
  .card .img-wrapper {
    height: 17em;
  }
  .carousel-item{
    flex: 0 0 66%;
    
  }

}

@media (max-width: 375px) {
  .card .img-wrapper {
    height: 17em;
  }
  .carousel-item{
    flex: 0 0 100%;
    
  }

}

.collegacard {
  display: flex;
  flex-direction: column;
  height: 100%; /* Zorgt ervoor dat de kaarten even lang zijn */
}

.vacature-card{
  display: flex;
  flex-direction: column;
  height: 100%;
  
}

.collegacard .card-body {
  flex-grow: 1; /* Laat de card-body flexibel groeien om de hoogte van de kaart in te nemen */
}

.collega-img {
  padding: 2em 2em 2em 2em;
  max-width: 100%; /* Maakt de afbeelding responsief */
  height: auto; /* Behoudt de aspect ratio van de afbeelding */
}


.custom-mt-header{
  margin-top: 3em;
}

/* Footer */
.socials{
  width: 25px;
}


