* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif !important;
}

/* body {} */


/* Nav */
.streep {
  background-color: #A4CC00;
  position: absolute;
  padding-bottom: 5em;
  width: 100%;
  margin-top: -2em;
  z-index: -1;
}

.navLink {
  text-decoration: none;
  list-style-type: none;
  color: black;
  z-index: 1;
  margin-bottom: 1em !important;
}

.teamviewerimg {
  margin-top: 4px !important;
}

.custom-navbar {
  border-radius: 80px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}



/* home */
.plant {
  max-width: 380px;
}

.ulFlex {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 50px;
  z-index: 1;
  margin: 2em 5em 6em 5em;
  padding: 1em 3em 1em 3em;
}

.ulFlex li {
  list-style-type: none;
}

.center-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3em;
}

/* Over Match Online */
.producten {
  max-width: 600px
}

.vink {
  width: 3em;
  margin-right: 3em;
}

.vink-vacature {
  width: 20px;
  height: auto;
}


/* Quotes */
.quote {
  margin-top: 2em;
  font-family: 'truculenta', 'Arial Narrow', Arial, sans-serif;
}

.custom-quote-container {
  margin-bottom: 6em;
}



/* carousel logos */
.logos-slide {
  display: flex;
  animation: slide 20s infinite linear;
}

.logos-slide img {
  flex-shrink: 0;
  height: 40px;
  margin: 0 50px;
}

.logos-slide:hover {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}




/* Collega carousel */
@media (max-width: 460px) {
  .custom-body p.lead {
    font-size: 14px !important;
  }

  .navbar.mx-5 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .navbar-brand img {
    width: 7em;
  }
}

@media (max-width: 768px) {
  .logos-slide img {
    height: 30px;
    margin: 0 10px;
  }
}










/* collega carousel */
/* @media (min-width: 1200px) {
  .carousel-item {
    flex: 0 0 25%;    
    display: block;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .carousel-item {
    flex: 0 0 50%;    
    display: block;
  }
}

@media (max-width: 768px) {
  .carousel-item {
    flex: 0 0 100%;    
    display: block;
  }
}

.card {
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}

.carousel-inner {
  padding: 1em;
  display: flex;
}

.collegacard {
  margin: 0 0.5em;;
}


.card .img-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2em 0 2em;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-item{
  margin-right: 0;
}

.collegacarousel{
  overflow-x: auto;
}

.collegacard {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.collega-img {
  padding: 2em 2em 2em 2em;
  max-width: 100%; 
  height: auto;
}  */









/* Swiper */

/* .swiper {
  width: 950px;

}

.custom-section-styles {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
}

.custom-collega-section .custom-collega-card .image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #A4CC00;
}

.custom-collega-section .custom-collega-card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.custom-collega-card {
  border-radius: 20px;
  background: #fff;
  position: relative;
  margin: 20px 0;
  width: 280px;
}

.custom-collega-card::before {
  content: "";
  position: absolute;
  height: 55%;
  width: 100%;
  background-color: #A4CC00;
  border-radius: 20px 20px 0 0;
}

.custom-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

.custom-collega-card .media-icons {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin-top: 10px;
  color: #000000;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 20px;
}

.icon:hover {
  opacity: 1;
  color: #fff;
}



.custom-collega-card .name-profession {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #516500;
}

.name-profession .name {
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession {
  font-size: 15px;
  font-weight: 500;
}

.custom-collega-section {
  position: relative;
  height: 450px;
  width: 1075px;
  display: flex;
  align-items: center;
}

.swiper-pagination-bullet {
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background-color: #A4CC00;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7;
  color: #A4CC00;
  transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
  color: #A4CC00;
} */


/************/
/* Slider 2 */
/************/

.custom-section{
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  position: relative;
}


.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px;
}

/* card */
.custom-card{
border-radius: 25px;
background-color: #fff;
width: 320px;
min-height: 440px;
}

.image-content, .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content{
  row-gap: 5px;
  position: relative;
  padding: 25px 0;
}

.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #A4CC00;
  left: 0;
  top: 0;
  border-radius: 25px 25px 0 25px;
}

.overlay::before, .overlay::after{
position: absolute;
content: "";
height: 40px;
width: 40px;
right: 0;
bottom: -40px;
background-color: #A4CC00;
}

.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: white;
}





.card-image{
position: relative;
height: 150px;
width: 150px;
border-radius: 50%;
background: #fff;
padding: 3px;
}

.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #A4CC00;
}

.name{
  font-size: 25px;
  font-weight: 600;
  color: #374501;
  padding-top: 10px;
}

.function{
  font-size: 14px;
  font-weight: 400;
}

.description{
  font-size: 16px;
  /* color: #374501; */
  text-align: center;
}



.swiper-navBtn{
  color: black !important;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover{
  color: #374501;
}

.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 40px;
}

.swiper-button-next{
  right: 0;
}

.swiper-button-prev{
  left: 0;
}

.swiper-pagination-bullet{
background-color: #A4CC00;
opacity: 1;
}

.swiper-pagination-bullet-active{
  background-color: #374501;
}

@media screen and (max-width: 768px ){
.swiper.navBtn{
  display: none;
}
.slide-content{
  margin: 0 10px;
}
}








.vacature-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.custom-mt-header {
  margin-top: 3em;
}




/* Footer */
.socials {
  width: 25px;
}

.custom-footer {
  margin: 0;
  width: 100%;
}

footer {
  margin-top: 3em;
}