/* Font */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Satisfy&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


* h1,
* h2,
* h3,
* h4,
* h5,
* h6 {
  font-family: "Arvo", sans-serif !important;
  text-transform: uppercase;
  ;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 20px;
}

h1 {
  color: #6cb744;
  font-weight: 700;
  font-size: 20px;
  font-size: 30px;
  margin-bottom: 1em;
}

h2 {
  font-size: 30px;
}

h3 {
  color: #478a20;
}

.small-italic {
  font-style: italic;
  font-size: 14px;
}



.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.quote {
  font-size: 50px;
  margin: 3em auto 0.5em auto;
  font-family: "Satisfy", cursive !important;
  max-width: 23em;
  text-align: center;
}

.quote-name {
  font-size: 20px;
  margin-bottom: 7em;
}

/* Cards */
.card-opmaak .card {
  margin: 2em 2em 2em 2em;
  padding: 1em 1em 1em 1em;
}


@media (max-width: 460px) {
  p {
    font-size: 14px;
  }

  .card-text {
    font-size: 14px;
    /* padding-right: 0 !important; */
  }
}

@media (max-width: 768px) {
  p {
    font-size: 16px;
  }

  h2 {
    font-size: 20px;
  }

  .quote {
    font-size: 20px;
  }

  .minder-margin-heading {
    margin-bottom: 2em !important;
  }
}



/* Nav */
.streep {
  /* background-color: #6cb744; */
  position: absolute;
  padding-bottom: 5em;
  width: 100%;
  margin-top: -2em;
  z-index: -1;
}

/* nav {
  margin-bottom: 6em;
} */


.home-body nav {
  margin-bottom: 1em !important;
}


.navLink {
  text-decoration: none;
  list-style-type: none;
  color: black;
  z-index: 1;
  margin-bottom: 1em !important;
}

.navbar-nav .nav-link {
  font-family: 'Arvo', serif;
}




.teamviewerimg {
  margin-top: 4px !important;
}

.custom-navbar {
  border-radius: 80px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
  background: none;
  border: none;
  margin-left: 2em;
}

.alert-dismissible {
  padding-right: 3rem;
}

@media (max-width: 768px) {
  .close {
    margin-right: 0;
  }

  .alert-dismissible {
    padding-right: 1rem;
  }
}


/* home */
.plant {
  max-width: 380px;
}

.ulFlex {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 50px;
  z-index: 1;
  margin: 2em 5em 6em 5em;
  padding: 1em 3em 1em 3em;
}

.ulFlex li {
  list-style-type: none;
}

.center-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3em;
}



/* Over Match Online en voordelen*/
.producten {
  max-width: 600px
}

.vink {
  width: 3em;
  margin-right: 3em;
}

.vink-vacature {
  width: 20px;
  height: auto;
}

.voordelen-img {
  width: 900px;
}

.img-centreren {
  display: flex;
  justify-content: center;

}

.vink-en-vinkjes-tekst {
  margin-bottom: 40px;
}


@media (max-width: 992px) {
  .vinkjes-tekst {
    font-size: 14px !important;
  }

  .vink {
    width: 2em;
    margin-right: 1em;
  }

  .voordelen-img {
    width: 400px;
  }

  .vink-en-vinkjes-tekst {
    margin-bottom: 20px !important;
  }
}



.custom-quote-container {
  margin-bottom: 6em;
}



/* carousel logos */
/* .logos-slide {
  display: flex;
  animation: slide 20s infinite linear;
}

.logos-slide img {
  flex-shrink: 0;
  height: 40px;
  margin: 0 50px;


} */

/* .logos-slide:hover {
  animation-play-state: paused;
} */

/* @keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
} */




@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}




/* Collega carousel */

@media (max-width: 460px) {
  .custom-body p.lead {
    font-size: 14px !important;
  }

  .navbar.mx-5 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .navbar-brand img {
    width: 7em;
  }
}

@media (max-width: 768px) {
  .logos-slide img {
    height: 30px;
    margin: 0 10px;
  }
}



/************/
/* Slider 2 */
/************/

.custom-slider-section {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #efefef; */
  position: relative;
  margin-bottom: 3em;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px;
}

/* card */
.custom-card {
  border-radius: 25px;
  background-color: #fff;
  width: 320px;
  min-height: 440px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 3em 0 3em 0;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  row-gap: 5px;
  position: relative;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #A4CC00;
  left: 0;
  top: 0;
  border-radius: 25px 25px 0 25px;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #A4CC00;
}

.name {
  font-size: 25px;
  font-weight: 650;
  color: #374501;
  padding-top: 15px;
  text-align: center;
}

.function {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
}

.description {
  font-size: 16px;
  /* color: #374501; */
  text-align: center;
}



.swiper-navBtn {
  color: black !important;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #374501;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 40px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #A4CC00;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #374501;
}

@media screen and (max-width: 768px) {
  .swiper.navBtn {
    display: none;
  }

  .slide-content {
    margin: 0 10px;
  }
}







.vacature-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.custom-mt-header {
  margin-top: 3em;
}


/* Banner */

.banner {
  background-color: #83A108;
  text-align: center;
  margin-top: 10em;
  color: white;
}

.banner-white {
  text-align: center;
}

.banner img {
  width: 30px;
  margin: 0 10px 12px 0;
}

.banner-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-container {
  padding: 35px 0 35px 0;
  /* font-family: ; */
}

.vertical {
  border-left: 5px solid #A4CC00;
  height: 450px;
  margin-top: 0em;
  margin-left: 3em;
  margin-right: 3em;
}




.map-openingstijden-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 5em;
}

.map-openingstijden {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.map-openingstijden iframe {
  max-width: 600px;
  flex: 1 1 45%;
}

.openingstijden {
  max-width: 400px;
  flex: 1 1 50%;
  margin: 0 20px;
  text-align: center;
}

@media screen and (max-width: 1024px) {

  .map-openingstijden iframe,
  .openingstijden {
    flex: 1 1 100%;
    max-width: 100%;
    margin: 10px 0;
  }

  .vertical {
    display: none;
  }

  .servicedesk-card {
    flex-direction: column;
  }
}


.Arjn-Jan {
  display: block;
  margin: auto;

}

@media screen and (min-width: 1025px) {
  .Arjn-Jan {

    margin-left: 2em;
  }
}


.servicedesk-card {
  align-items: center;
}

.accordion-container {
  max-width: 1210px;
  margin: 0 auto;
}

.accordion-container button {
  text-decoration: none;
  color: #374501;
}

/* 
.nieuws-card {
display: flex;
}

.nieuws-card img{
 margin-right: 2em;
 width: 400px;
  }

  .nieuws-datum{
    display: flex;
  }


  @media (max-width: 1100px) {
    .nieuws-card {
        flex-direction: column;
        align-items: center;
    }


    .nieuws-card img {
        width: 400px;
        margin-right: 0;

    }

    .title-date{
flex-direction: column;
}
} */





@media (min-width: 765px) {
  .img-lg {
    max-width: 300px;
  }
}

@media (max-width: 764px) {
  .img-lg {
    max-width: 100%;
  }

  .img-lg img {
    margin-bottom: 2em;
  }
}

@media (max-width: 764px) {
  .position-absolute {
    left: 0;
    right: 0;
    text-align: center;
  }
}

@media (min-width: 765px) {
  .position-absolute {
    right: 0;
  }
}



/* Footer */

.media-icons {
  font-size: 30px;
}

.svg-inline--fa {
  margin-right: 5px;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(0, 0, 0, 0.685);
}

.contact-footer a {
  text-decoration: none;
  color: white;
}